.container {
  padding: 10px;
  display: flex;
  justify-content: space-around;
  background-color: rgb(248, 248, 248);
}
.filter {
  display: flex;
}
.text {
  margin-top: 10px;
  padding: 0 5px;
}
.filterSelect {
  width: 150px;
}
.flexText {
  display: flex;
}
